:root {
  --main-background-color: crimson;
  --main-text-color: yellow;
  --main-shadow-color: black;
  --main-font-style: Arvo;
  --noise-url: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

*,
html {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--main-background-color);
  background-image: var(--noise-url);
  color: var(--main-text-color);
  font-family: var(--main-font-style);
  margin: 0;
}

header {
  --header-background-color: black;
  --header-text-color: yellow;
  --header-shadow-color: crimson;
  --hover-links-color: crimson;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  position: sticky;
  text-shadow: -2px 2px crimson;
  color: var(--header-text-color);
  background-color: var(--header-background-color);
  max-height: fit-content;
  top: 0;
  z-index: 1;

  transition: top 0.5s;
}

.list-items {
  display: flex;
  list-style: none;
  height: auto;
  gap: 50px;
}

.list-items button {
  font-size: 1.5em;
  text-shadow: -2px 2px crimson;
  display: inline-block;
  justify-content: space-between;
  margin: 1px;
  background: none;
  border: none;
  color: yellow;
}

.list-items button:hover {
  color: crimson;
  text-shadow: none;
}

.list-items h1 {
  position: absolute;
  right: 50px;
}

.list-items a:hover {
  color: var(--hover-links-color);
  text-shadow: none;
}

.navbar a {
  color: var(--header-text-color);
  text-decoration: none;
}

.nav-button {
  --navbar-button-background-color: yellow;
  --navbar-button-text-color: black;
  --navbar-button-shadow-color: crimson;
}

.nav-button button {
  border: solid black 2px;
  background-color: var(--navbar-button-background-color);
  box-shadow: -3px 3px var(--navbar-button-shadow-color);
  color: var(--navbar-button-text-color);
  cursor: pointer;
  border-radius: 1em;
  padding: 10px;
  font-size: 2em;
  font: 1rem bold;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  transition: transform 0.5s ease-in-out, 0.5s ease-in-out;
  margin: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.nav-button button:hover {
  color: var(--navbar-button-background-color);
  background-color: var(--navbar-button-shadow-color);
  box-shadow: 3px -3px var(--navbar-button-background-color);
}

#about {
  font-family: Cascadia Mono;
}

#hero-id,
#foot,
#about {
  scroll-margin-top: 8rem;
}

.hero div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  align-items: flex-end;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 8vw;
  text-align: center;
  line-height: 0;
  gap: 0;
  margin: 0;
  padding: 0;
  border: 0;
  text-shadow: -0.6vw 0.6vw 0 black;
  user-select: none;

}

#hero-section-one img {
  height: 25vw;
  transform: translateY(12%);
}

.char-box>div {
  scroll-margin-top: 6rem;
  margin-top: 100px;
  margin: 25px;
  padding: 25px;

  border-top: 2px solid yellow;
  background: color-mix(in srgb, var(--main-background-color) 80%, black);

  background-image: var(--noise-url);
  border-bottom: 2px solid yellow;
  border-radius: 2rem;

}

.char-box div div {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 50px;
}

.char-box div img {
  width: 100%;
  border: solid black 5px;
  border-radius: 10px;
  background-color: brown;
  background-image: var(--noise-url);
}

.char-box img:hover {
  opacity: 80%;
  cursor: pointer;
}

.char-box h1 {
  color: yellow;
  text-shadow: -3px 3px black;
  text-align: center;
  text-decoration: underline dotted;
}

.dropdown-quotes,
.dropdown-characters {
  display: none;
}

.dropdown:hover .dropdown-quotes,
.dropdown:hover .dropdown-characters {
  position: absolute;
  display: block;
  font-size: 20px;
  border: solid yellow 2px;
  border-radius: 10px;
  padding: 20px;
  background-color: black;
  width: fit-content;
}

.dropdown:hover .dropdown-quotes a,
.dropdown:hover .dropdown-characters a {
  display: block;
  border: solid 1px #000;
}


.nav-button #button-1,
.nav-button #button-2 {
  display: none;
  position: absolute;
  font-size: 20px;
  border: solid yellow 2px;
  border-radius: 10px;
  padding: 20px;
  background-color: black;
  width: fit-content;
}

.show {
  display: show;
}

#about>h1 {
  user-select: none;
}

#about {
  font-size: 30px;
  text-shadow: -3px 3px black;
  color: yellow;
  font-size: 2vw;

  background: color-mix(srgb, var(--main-background-color) 90%, brown);
  background-image: var(--noise-url);
  border: 2px solid yellow;
  border-radius: 2rem;
  overflow: hidden;

  padding: 8%;
  margin: 5%;
}

#about h1 {
  text-shadow: -5px 5px var(--main-shadow-color);
}

.foot {
  margin-top: 100px;
  background-color: black;
  background-image: var(--noise-url);
  padding: 10%;
  color: yellow;
  border-top: 2px solid yellow;
  vertical-align: middle;
}

#footer_image {
  border: 2px solid yellow;
  width: 300px;
  height: 100%;
  margin: 20px;
}

#pulp_fiction_wiki {
  display: flex;
  flex-direction: row;
}

#pulp_fiction_wiki a {
  color: var(--main-text-color);
  padding-left: 100px;
  transition: transform 0.5s ease-in-out, 0.5s ease-in-out;
  font-size: 50px;
}

#pulp_fiction_wiki a:hover {
  color: var(--main-background-color);
}


#github-icon {
  display: flexbox;
  justify-content: center;
  width: 30px;
}

#credits {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#credits>h2 {
  padding: 5px;
}

#credits a {
  padding: 5px;
  transition: transform 0.5s ease-in-out, 0.5s ease-in-out;
  color: var(--main-text-color);
}

#credits a:hover {
  color: crimson;
  font-size: 50px;

}

#modal-image {
  display: none;
}

@media screen and (max-width: 450px) {
  .char-box div div {
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 25px;
  }
}

@media screen and (max-width: 550px) {
  .char-box div div {
    grid-template-columns: repeat(1, fit-content);
    gap: 15px;
  }
}

@media screen and (max-width: 400px) {
  .char-box div div {
    grid-template-columns: repeat(1, 250px);
    gap: 15px;
  }
}

@media screen and (max-width: 1300px) {
  .list-items>button {
    display: none;
  }

  .list-items div buttons {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .buttons {
    display: none;
  }

  header {
    max-height: fit-content;
    font-size: 10px;
    justify-content: left;
  }

  .logo {
    margin-left: 10px;
  }

  #about {
    font-size: 1.5vh;
  }
}

@media screen and (max-width: 800px) {

  #pulp_fiction_wiki {
    flex-direction: column;
    justify-content: center;
  }

  #pulp_fiction_wiki>img {
    width: 70vw;
  }

}

@media screen and (max-width: 1000px) {
  #pulp_fiction_wiki a {
    font-size: 20px;
  }

}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  font-size: 20px;
  border: solid yellow 2px;
  border-radius: 10px;
  padding: 20px;
  background-color: black;
  width: fit-content;
}

.dropdown-content a:hover {
  color: crimson;
  text-shadow: none;
  cursor: pointer;
}

.show {
  display: flex;
}

.modal {
  display: none;
  z-index: 5;
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.show_modal {
  display: block;
}

.modal.show_modal {
  display: flex;
}

#modal_image {
  height: 30vw;
  border: 2px solid yellow;
}
