body {
  outline: 1px solid yellow;
  background-color: white;
  color: yellow;
  font-family: Arvo;
}

header {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: -2px 2px crimson;
  color: yellow;
  background-color: black;
}

.list-items {
  display: flex;
  list-style: none;
  height: auto;
  gap: 50px;
}

.list-items li {
  font-size: 1.5em;
  display: inline-block;
  justify-content: space-between;
  margin: 1px;
}

.list-items h1 {
  position: absolute;
  right: 50px;
}

.list-items a:hover {
  color: crimson;
  text-shadow: none;
}

.navbar a {
  color: yellow;
  text-decoration: none;
}

header button {
  border: solid black 2px;
  background-color: yellow;
  box-shadow: -3px 3px crimson;
  cursor: pointer;
  border-radius: 1em;
  padding: 10px;
  font-size: 2em;
  font: 1rem bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bolder;
  transition: transform 0.5s ease-in-out, 0.5s ease-in-out;
}

header button:hover {
  color: yellow;
  background-color: crimson;
  box-shadow: 3px -3px yellow;
}
