body {
  outline: 1px solid yellow;
  background-color: white;
  color: yellow;
  font-family: Arvo;
}

header {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: -2px 2px crimson;
  color: yellow;
  background-color: black;
}

.list-items {
  display: flex;
  list-style: none;
  height: auto;
  gap: 50px;
}

.list-items li {
  font-size: 1.5em;
  display: inline-block;
  justify-content: space-between;
  margin: 10px;
}

.list-items h1 {
  position: absolute;
  right: 50px;
}

.navbar a {
  color: yellow;
  text-decoration: none;
}

header button {
  border: none;
  background-color: yellow;
  box-shadow: -5px 5px crimson;
  cursor: pointer;
  border-radius: 1em;
  padding: 1em;
  font-size: 1em;
  font: 1rem bold;
  font-family: Arial, Helvetica, sans-serif;
}
