body {
  background-color: crimson;
  color: yellow;
  font-family: Arvo;
  margin: 0;
}

header {
  font-size: 15px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-shadow: -2px 2px crimson;
  color: yellow;
  background-color: black;

  position: sticky;
  top: 0;
}

.list-items {
  display: flex;
  list-style: none;
  height: auto;
  gap: 50px;
}

.list-items li {
  font-size: 1.5em;
  display: inline-block;
  justify-content: space-between;
  margin: 1px;
}

.list-items h1 {
  position: absolute;
  right: 50px;
}

.list-items a:hover {
  color: crimson;
  text-shadow: none;
}

.navbar a {
  color: yellow;
  text-decoration: none;
}

header button {
  border: solid black 2px;
  background-color: yellow;
  box-shadow: -3px 3px crimson;
  cursor: pointer;
  border-radius: 1em;
  padding: 10px;
  font-size: 2em;
  font: 1rem bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bolder;
  transition: transform 0.5s ease-in-out, 0.5s ease-in-out;
}

header button:hover {
  color: yellow;
  background-color: crimson;
  box-shadow: 3px -3px yellow;
}

.hero div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  align-items: flex-end;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 8vw;
  text-align: center;
  line-height: 0;
  gap: 0;
  margin: 0;
  padding: 0;
  border: 0;

  text-shadow: -0.6vw 0.6vw 0 black;
}

#hero-section-one img {
  height: 25vw;
  transform: translateY(12%);
  z-index: -1;
}

.char-box {
  display: grid;
  grid-template-areas:
    "a-one a-two a-three"
    "b-one b-two b-three"
    "c-one c-two c-three";
}

.char-box [src="temp/pulp-fiction-1.png"] {
  grid-area: a-one
}

.char-box [src="temp/pulp-fiction-2.png"] {
  grid-area: a-two
}

.char-box [src="temp/pulp-fiction-3.png"] {
  grid-area: a-three
}

.char-box [src="temp/pulp-fiction-4.png"] {
  grid-area: b-one
}

.char-box [src="temp/pulp-fiction-5.png"] {
  grid-area: b-two
}
